[package]
name = "term-image"
version = "0.1.0"
authors = ["Noskcaj <kcajdev@gmail.com>"]
edition = "2018"

[dependencies]
image = "0.21.1"
termion = "1.5.1"
clap = "2.32.0"
failure = "0.1.3"
iterm2 = "0.2.0"
gif = "0.10.1"
signal-hook = "0.1.5"
libc = "0.2.43"
base64 = "0.10.0"